<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Working With Time Series Data

---

In [1]:
from datetime import datetime

import pandas as pd

In [15]:
ufo = pd.read_csv('http://bit.ly/uforeports')

## Create a `datetime` object representing today's date.

In [26]:
# Time this lesson plan was written:
# /scrub/
lesson_date = datetime(2018, 5, 6, 8, 26, 56)
lesson_date

datetime.datetime(2018, 5, 6, 8, 26, 56)

## Convert the `Time` column of `ufo` to a `datetime` object.

In [27]:
# /scrub/
ufo['Time'] = pd.to_datetime(ufo.loc[:, 'Time'])
ufo.head()

KeyError: 'the label [Time] is not in the [columns]'

In [29]:
\# /scrub/
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
dtype: object

## Set the `Time` column to the index of the DataFrame.

In [21]:
ufo.set_index('Time', inplace=True)

In [22]:
ufo.head()

                                     City Colors Reported Shape Reported State
Time
1930-06-01 22:00:00                Ithaca             NaN       TRIANGLE    NY
1930-06-30 20:00:00           Willingboro             NaN          OTHER    NJ
1931-02-15 14:00:00               Holyoke             NaN           OVAL    CO
1931-06-01 13:00:00               Abilene             NaN           DISK    KS
1933-04-18 19:00:00  New York Worlds Fair             NaN          LIGHT    NY

## Create a Pandas `timestamp` object for the date January 1, 1999.

In [23]:
ts = pd.to_datetime('1/1/1999')
ts

Timestamp('1999-01-01 00:00:00')

## Use the `timestamp` object to perform logical filtering on the DataFrame and create a subset of entries with a date above or equal to January 1, 1999.

In [24]:
recent_ufos = ufo.loc[ufo.index >= ts, :]

In [25]:
recent_ufos.head()

                                  City Colors Reported Shape Reported State
Time
1999-01-01 02:30:00          Loma Rica             NaN          LIGHT    CA
1999-01-01 03:00:00            Bauxite             NaN            NaN    AR
1999-01-01 14:00:00           Florence             NaN       CYLINDER    SC
1999-01-01 15:00:00       Lake Henshaw             NaN          CIGAR    CA
1999-01-01 17:15:00  Wilmington Island             NaN          LIGHT    GA