In [1]:
import pandas as pd

# Pandas

In [2]:
users = pd.read_table('./data/user.tbl', sep='|')
ufo = pd.read_csv('./data/ufo.csv')

### Apply

The `apply` method calls the provided function on each item in a Pandas Series or along the specified dimension of a Pandas DataFrame.

In [3]:
# Series example
def is_under_30(number)


users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

You can use the `lambda` keyword to create an "anonymous function" on the fly.

In [ ]:
# Same thing, but use `lambda` to define the function inside the call to `apply`

In [ ]:
# Applying to each row of a DataFrame.

### String Methods

Pandas has built-in methods for operating on strings, which you access through `.str`.

In [ ]:
# Use string methods to change State abbreviations in ufo data to uppercase

In [ ]:
# Get a Boolean series that indicates which elements of ufo
# "Colors Reported" column contain the substring "RED"